{% extends 'base_business.html' %}
{% load static %}

{% block 'business' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
 
    <div class="row">

        <div class="col-md-8">
            {% if company.image %}
            <img id="company-profile-data" src="{{company.image.url}}">
            {% endif %}
            
        </div> 
        <div>  
            <h4><b>Nome:</b> {{company.name_company}}</h4>
            <h6><b>CNPJ:</b> {{company.cnpj}}</h6>
            <h6><b>Telefone:</b> {{company.phone}}</h6>
            <h6><b>Endereço:</b> {{company.address}}</h6>
            <h6><b>Cidade:</b> {{company.city}}</h6>
            <h6><b>Estado:</b> {{company.state}}</h6>
            <h6><b>Plano contratado:</b> {{company.chosen_plan}}</h6>            
        </div>
    </div>
    <hr>
    


    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
        Adicionar produto
    </button>
    <br>
    <br>
   
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Nome do produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor</th>
            <th scope="col">Descrição</th>
            </tr>
        </thead>
        
        {% for product in products  %}
        
            <tbody>
                <tr>
                    <th scope="row">{{product.product_name}}</th>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td><img src="{{ product.image.url }}" alt="{{ product.product_name }}"></td>
                </tr>            
            </tbody>
        {% endfor %}
    </table>
        


    {% comment %}  {% endcomment %}
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="titulo">Cadastrar produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                        {{form.as_table}}                       
                        </table>
                        <input type="submit" value="Cadastrar" class="btn btn-success">

                    </form>
                </div>
            
            </div>
        </div>
    </div>

        
{% endblock%}