{% extends 'base_business.html' %}
{% load static %}

{% block 'business' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
 
    <div class="row">

        <div class="col-md-4">
            {% if company.image %}
            <img width="300" height="200"  src="{{company.image.url}}">
            {% endif %}
            
        </div> 
        <div>  
            <h4><b>Nome:</b> {{company.name_company}}</h4>
            <h6><b>CNPJ:</b> {{company.cnpj}}</h6>
            <h6><b>Telefone:</b> {{company.phone}}</h6>
            <h6><b>Endereço:</b> {{company.address}}</h6>
            <h6><b>Cidade:</b> {{company.city}}</h6>
            <h6><b>Estado:</b> {{company.state}}</h6>
            <h6><b>Plano contratado:</b> {{company.chosen_plan}}</h6>            
        </div>
    </div>
    <hr>
    


    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal1">
        Adicionar produto
    </button>
    <br>
    <br>
   
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Nome do produto</th>
            <th scope="col">Valor</th>
            </tr>
        </thead>
        
        {% for product in products  %}
        
            <tbody>
                <tr>
                    <th scope="row">{{product.product_name}}</th>
                    <td>{{product.price}}</td>
                    <td><img  width="60" height="60"  src="{{ product.image.url }}" alt="{{ product.product_name }}"></td>
                    <td><h3><a href={% url "product_view" product.id %} class="btn btn-outline-info btn-lg">ver produto</a></h3></td>
                    <td><h3><a href={% url "delete_product" product.id %} class="btn btn-outline-danger btn-lg">Delete</a></h3></td>
                </tr>            
            </tbody>
        {% endfor %}
    </table>
        


    {% comment %}  {% endcomment %}
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="titulo">Cadastrar produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                        {{form.as_table}}                       
                        </table>
                        <input type="submit" value="Cadastrar" class="btn btn-success">

                    </form>
                </div>
            
            </div>
        </div>
    </div>

    {% comment %}  {% endcomment %}
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title titulo" id="exampleModalLabel">Cadastrar empresa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">               
                    <br>  
                    
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
                    <a>teste</a>
                    <div class="col-md-6">
                        <img src="{{ product.image.url }}">
                        
                        <input type="submit" class="btn btn-info btn-lg" >
                    </div>                  
                   
                </div>
            </div>
        </div>
    </div>

    

        
{% endblock%}