{% extends 'base.html' %}

{% load static  %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'business/css/css.css' %}">

{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'companys' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img width="150" height="150" src="{% static 'business/img/home.png' %}">
                        <br>
                        <br>
                  
                        <h2>Home</h2>
                    </div>
                  </a>
                  
                  <a href="" class="link-lateral">
                    <div class="card-lateral">
                        <img width="150" height="150" src="{% static 'business/img/uniao2.png' %}">
                        <br>
                        <br>
                  
                        <h2>Empresa</h2>
                    </div>
                  </a>
                  
                  <a href="#" class="link-lateral">
                    <div class="card-lateral">
                        <img width="150" height="150" src="{% static 'business/img/entregador.png' %}">
                        <br>
                        <br>
                  
                        <h2>Entregador</h2>
                    </div>
                  </a>

                  <a href="#" class="link-lateral">
                    <div class="card-lateral">
                        <img width="150" height="150" src="{% static 'business/img/carrinho.png' %}">
                        <br>
                        <br>
                  
                        <h2>Carrinho</h2>
                    </div>
                  </a>

            </div>

            <div class="col-md-10">
                {% block 'business' %}


                {% endblock %}
            </div>

        </div>
    </div>
{% endblock%}